<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <title>PhaethonLux - Interior Design Website Template Free</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <style>
        .about-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* делает все фото одинаковыми */
    border: 8px; /* опционально */
}

.about-img-text {
    position: absolute;
    bottom: 0; /* текст будет снизу на фото */
    left: 0;
    width: 100%;
    background: rgba(0, 123, 255, 0.7); /* полупрозрачный синий фон */
    color: white;
    text-align: center;
    padding: 10px;
}

    </style>


</head>

<body>
<div layout:fragment="content" class="bg-white p-0">
    <!-- Hero Start -->
    <div class="container-fluid pb-5 bg-primary hero-header">
        <div class="container py-5">
            <div class="row g-3 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-1 mb-0 animated slideInLeft">About</h1>
                </div>
                <div class="col-lg-6 animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-end mb-0">
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Pages</a></li>
                            <li class="breadcrumb-item text-secondary active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row">
                        <div th:each="img : ${about}" class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="about-img-wrapper">
                            <img class="img-fluid" th:src="${img.imageUrl}" alt="">
                        </div>
                        </div>
                        <div  th:each="img : ${about}" class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="about-img-wrapper">
                            <img class="img-fluid h-75" th:src="${img.imageUrl2}" alt="">
                            <div class="h-25 d-flex align-items-center text-center bg-primary px-4">
                                <h4 class="text-white lh-base mb-0">Award Winning Studio Since 1990</h4>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div th:each="abouts : ${about}" class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 th:text="${abouts.title}" class="mb-5"> of Our
                        Creation</h1>
                    <p th:text="${abouts.description1}" class="mb-4"></p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <th:block  th:each="point : ${abouts.points.subList(0, 2)}">
                                <p class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary me-2"></i>
                                    <span th:utext="${point.point}"></span>
                                </p>
                            </th:block>
                        </div>
                        <div class="col-sm-6">
                            <th:block  th:each="point : ${abouts.points.subList(2, 4)}">
                                <p class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary me-2"></i>
                                    <span th:utext="${point.point}"></span>
                                </p>
                            </th:block>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-5">
                        <a class="btn btn-primary px-4 me-2" href="#!">Read More</a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2" href="#!"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>