<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <title>PhaethonLux - Interior Design Website Template Free</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


</head>

<body>
<div layout:fragment="content" class="bg-white p-0">
    <!-- Hero Start -->
    <div class="container-fluid pb-5 bg-primary hero-header">
        <div class="container py-5">
            <div class="row g-3 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-1 mb-0 animated slideInLeft">About</h1>
                </div>
                <div class="col-lg-6 animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-end mb-0">
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Pages</a></li>
                            <li class="breadcrumb-item text-secondary active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div th:each="img : ${about}" class="row">
                        <div  class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="image-container">
                            <img class="img-fluid" th:src="${img.imageUrl}" alt="">
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="image-container">
                            <img class="img-fluid h-75" th:src="${img.imageUrl2}" alt="">
                                <div class="overlay">
                                <div class="h-25 d-flex align-items-center text-center bg-primary px-4">
                                <h4 class="text-white lh-base mb-0">1990-cı ildən Mükafat qazanan Studio</h4>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div th:each="abouts : ${about}" class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 th:text="${abouts.title}" class="mb-5"><span th:text="${abouts.subtitle}" class="text-uppercase text-primary bg-light px-2">Yaradılış </span> Tariximiz</h1>
                    <p th:text="${abouts.description1}" class="mb-4"></p>
                    <p th:text="${abouts.description2}" class="mb-5"></p>
                    <div class="row g-3">
                        <div th:each="points : ${about}" class="col-sm-6">
                            <h6 th:text="${points.point1}" class="mb-3"><i class="fa fa-check text-primary me-2"></i>30 ildən artıq təcrübə</h6>
                            <h6 th:text="${points.point2}" class="mb-0"><i class="fa fa-check text-primary me-2"></i>Peşəkar və yaradıcı kollektiv</h6>
                        </div>
                        <div th:each="points : ${about}" class="col-sm-6">
                            <h6 th:text="${points.point3}" class="mb-3"><i class="fa fa-check text-primary me-2"></i>Müasir və funksional interyerlər</h6>
                            <h6 th:text="${points.point4}" class="mb-0"><i class="fa fa-check text-primary me-2"></i>Ədalətli qiymət siyasəti</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-5">
                        <a class="btn btn-primary px-4 me-2" href="#!">Read More</a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2" href="#!"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

        <!-- Back to Top -->
        <a href="#!" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>





    </div>
</div>
</body>
</html>